@import './content.scss';

.header_wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 1.333333rem;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  box-shadow: 0 0 5px rgba(4, 0, 0, 0.1);

  .left_arrow {
    position: absolute;
    left: 0.4rem;
    width: 0.866667rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      width: 0.866667rem;
      height: 0.6rem;
    }
  }

  .head_text {
    font-size: 0.466667rem;
    color: #333333;
  }

  .more_wrap {
    position: absolute;
    right: 0.4rem;

    .svg_wrap {
      position: relative;

      svg {
        width: 0.633333rem;
        height: 0.633333rem;
      }
    }
  }

  .list_wrap {
    display: none;
    position: absolute;
    width: 1.906667rem;
    right: 0.266667rem;
    top: 1.166667rem;
    z-index: 1000;
    background-color: #ffffff;
    box-shadow: 0 0 5px rgba(4, 0, 0, 0.1);
    border-radius: 10px;
    padding: 0.133333rem 0;

    .list_ul {
      width: 100%;
      position: relative;
      background-color: #ffffff;

      .list_li {
        width: 100%;
        height: 0.666667rem;
        padding: 0 0.266667rem;
        box-sizing: border-box;
        border-bottom: 1px solid #EEEEEE;

        a {
          position: relative;
          color: #666666;
          display: flex;
          height: 0.666667rem;
          justify-content: center;
          align-items: center;

          .dot {
            position: absolute;
            top: 0;
            left: 0.30rem;
            z-index: 100;
            display: inline-block;
            width: 0.306667rem;
            height: 0.306667rem;
            border-radius: 50%;
            background-color: #dc3173;
            color: #ffffff;
            text-align: center;
            line-height: 0.306667rem;
            font-size: 0.32rem;
          }

          svg {
            width: 0.386667rem;
            height: 0.386667rem;
          }

          .te_t {
            margin-left: 0.266667rem;
            font-size: 0.293333rem;
            font-weight: 400;
            color: #666666;
          }
        }
      }
    }

    .list_ul::before {
      position: absolute;
      top: -0.546667rem;
      right: 0.166667rem;
      content: "";
      width: 0;
      height: 0;
      border: 0.266667rem solid;
      border-color: transparent transparent #ffffff transparent;
    }
  }
}



.detail_content {
  margin-top: 1.333333rem;
  width: 100vw;
  height: calc(100vh - 2.72rem);
  overflow-y: auto;
  position: relative;

  // 头像
  .head_area {
    width: 92vw;
    height: 1.066667rem;
    margin-left: 4vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.333333rem 0 0.133333rem 0;

    .img_wrap {
      // width: 3.333333rem;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      img {
        width: 1.2rem;
        height: 1.2rem;
        border-radius: 50%;
      }

      .date_name {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 0.186667rem;

        .username {
          font-size: 0.353333rem;
          font-weight: 400;
          color: #9F9F9F;
        }

        .date_city {
          margin-top: 0.133333rem;
          span {
            font-size: 0.283333rem;
            font-weight: 400;
            color: #9F9F9F;
          }
        }
      }
    }

    .func {
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .cate {
        margin-left: 0.133333rem;
        width: 1.566667rem;
        height: 0.633333rem;
        border-radius: 15px;
        color: #ffffff;
        font-size: 0.346667rem;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }


  }

  // 描述
  .goods_content {
    width: 92vw;
    margin-left: 4vw;

    .title {
      width: 100%;
      font-weight: 400;
      padding: 0.266667rem 0;
      color: #000000;
      display: flex;
      align-items: center;
      font-size: 0.373333rem;
    }

    .content_wrap {
      width: 100%;
      display: flex;
      justify-content: space-between;

      .l_content {
        width: 45%;

        .l_ul {
          width: 100%;

          li {
            font-size: 0.34rem;
            font-weight: 400;
            color: #656565;
            margin-bottom: 0.146667rem;
          }
        }
      }
    }


    .c_content {
      width: 100%;

      .supply_title {
        width: 100%;
        font-size: 0.34rem;
        font-weight: 400;
        color: #656565;
        padding: 0.266667rem 0;
      }

      .supply_con {
        font-size: 0.34rem;
        font-weight: 400;
        color: #656565;
        line-height: 150%;
      }
    }

    // 日期
    .date_wrap {
      width: 100%;
      display: flex;
      margin-top: 0.266667rem;
      justify-content: space-between;

      .publish_date {
        font-size: 0.34rem;
        font-weight: 400;
        color: #656565;
      }

      .end_date {
        font-size: 0.34rem;
        font-weight: 400;
        color: #656565;
      }
    }

    // 图片展示
    .pic_content {
      width: 100%;
      margin-top: 0.266667rem;
      border-radius: 25px;
      overflow: hidden;

      .swiper-wrapper {
        width: 100%;

        .swiper-slide {
          width: 100%;
          height: 7.426667rem;
          padding: 0.066667rem 0;
          box-sizing: border-box;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }

      // .swiper-pagination {
      //   width: 1.24rem;
      //   height: 0.4rem;
      //   left: calc(90vw - 1.333333rem);
      //   background: #000000;
      //   opacity: 0.8;
      //   border-radius: 15px;
      //   font-size: 0.32rem;
      //   color: #FFFFFF;
      //   display: flex;
      //   justify-content: center;
      //   align-items: center;
      // }
    }

  }


  // 间隔线
  .line_wrap {
    width: 100vw;
    height: 0.213333rem;
    background: #EEEEEE;
  }

  // 评论区
  .comment_wrap {
    width: 100vw;
    padding: 0 0.533333rem;
    box-sizing: border-box;

    .head_title {
      width: 100%;
      font-size: 0.32rem;
      font-weight: 600;
      color: #000000;
      padding: 0.4rem 0;
      box-sizing: border-box;
    }

    @mixin comment_li {
      .con {
        padding: 0.23333rem 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .ava_wrap {
          width: 1.066667rem;
          height: 1.066667rem;

          img {
            width: 1.066667rem;
            height: 1.066667rem;
            border-radius: 50%;
            object-fit: cover;
          }
        }

        .comment_content_first {
          margin-left: 0.266667rem;
          display: flex;
          flex-direction: column;
          justify-content: center;

          .name {
            font-size: 0.306667rem;
            font-weight: 400;
            color: #A0A0A0;
          }

          .content {
            margin-top: 0.103333rem;
            font-size: 0.306667rem;
            font-weight: 400;
            color: #000000;
            line-height: 150%;
          }
        }
      }
    }

    .first_comment_content {
      width: 100%;

      .first_comment_ul {
        width: 100%;

        .first_comment_li {
          width: 100%;
          padding: 0.133333rem 0;
          border-bottom: 1px solid #E5E5E5;

          @include comment_li;

          .second_comment {
            margin-left: 0.833333rem;

            .second_comment_ul {
              width: 100%;

              .second_comment_li {
                @include comment_li;
              }
            }
          }
        }
      }
    }
  }
}

// 底部发布评论框
.send_tab {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 1.386667rem;
  box-shadow: 0 0 5px rgba(4, 0, 0, 0.2);
  background-color: #ffffff;
  z-index: 1002;
  padding: 0 0.506667rem;
  box-sizing: border-box;

  .input_wrap {
    float: left;
    margin-top: 0.236667rem;
    width: 80%;
    height: 0.906667rem;
    background: #ECECEC;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    input {
      width: 90%;
      height: 0.6rem;
      font-size: 0.4rem;
      font-weight: 400;
      color: #000000;
      border: none;
      border-radius: 10px;
      background-color: #ECECEC;
      line-height: 0.6rem;
    }

    // input::-webkit-input-placeholder {
    //   color: #000000;
    // }

    // input::-moz-placeholder {
    //   color: #000000;
    // }

    // input::-ms-input-placeholder {
    //   color: #000000;
    // }
  }

  .submit_btn {
    float: right;
    margin-top: 0.256667rem;
    width: 1.6rem;
    height: 0.88rem;
    background-color: $htmlColor;
    color: #ffffff;
    border-radius: 10px;
    text-align: center;
    line-height: 0.88rem;
    font-size: 0.333333rem;
  }
}


// 底部栏
.totar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 1.386667rem;
  box-shadow: 0 0 5px rgba(4, 0, 0, 0.2);
  background-color: #ffffff;
  z-index: 1001;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.666667rem;
  box-sizing: border-box;

  // 功能组
  .func_icon_group {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .icon_wrap {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-right: 0.693333rem;

      svg {
        width: 0.533333rem;
        height: 0.533333rem;
      }

      .text {
        margin-top: 0.12rem;
        font-size: 0.293333rem;
        font-weight: 400;
        color: #333333;
      }
    }
  }

  // 
  .right_content {
    width: 2.2rem;
    height: 0.666667rem;

    a {
      display: inline-block;
      width: 100%;
      height: 100%;
      background: linear-gradient(-90deg, #319595, #62DEDE);
      border-radius: 23px;
      text-align: center;
      line-height: 0.666667rem;
      color: #ffffff;
      font-size: 0.32rem;
    }
  }
}