@media screen and (min-width: 750px) {
  html {
    font-size: 75px !important;
  }
}

@font-face {
  font-family: SIMKAI;
  /*这里是说明调用来的字体名字*/
  src: url('../css/SIMKAI.TTF');
  /*这里是字体文件路径*/
}

body {
  font-family: SIMKAI;
  background-color: #FFFFFF;
}

$htmlColor: #F8CD43;

.header_wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 1.333333rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  box-shadow: 0 0 5px rgba(4, 0, 0, 0.1);

  .left_arrow {
    position: absolute;
    left: 0.4rem;
    width: 0.866667rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(-90deg);

    svg {
      width: 0.866667rem;
      height: 0.6rem;
    }
  }

  .head_text {
    font-size: 0.466667rem;
    color: #333333;
  }
}

// 头像
.head_area {
  margin-top: 1.533333rem;
  width: 92vw;
  height: 1.066667rem;
  margin-left: 4vw;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .img_wrap {
    // width: 3.333333rem;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
      width: 1.2rem;
      height: 1.2rem;
      border-radius: 50%;
    }

    .username {
      margin-left: 0.186667rem;
      font-size: 0.333333rem;
      font-weight: 400;
      color: #9F9F9F;
    }
  }

  .func {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @mixin icon_wrap {
      width: 1.5rem;
      height: 0.466667rem;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #FFFFFF;
      border: 1px solid #BEBEBE;
      border-radius: 15px;
    }

    .liao {
      @include icon_wrap;

      svg {
        width: 0.5rem;
        height: 0.5rem;
      }

      .icon_text {
        font-size: 0.28rem;
        font-weight: 400;
        color: #000000;
      }
    }

    .collect {
      @include icon_wrap;
      margin-left: 0.106667rem;

      svg {
        width: 0.46rem;
        height: 0.46rem;
      }

      .icon_text {
        font-size: 0.28rem;
        font-weight: 400;
        color: #000000;
      }
    }
  }


}

// 描述
.goods_content {
  width: 92vw;
  margin-left: 4vw;

  .title {
    width: 100%;
    font-weight: 400;
    padding: 0.266667rem 0;
    color: #000000;
    display: flex;
    align-items: center;
    font-size: 0.373333rem;
  }

  .content_wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .l_content {
      width: 45%;

      .l_ul {
        width: 100%;

        li {
          font-size: 0.34rem;
          font-weight: 400;
          color: #656565;
          margin-bottom: 0.146667rem;
        }
      }
    }
  }


  .c_content {
    width: 100%;

    .supply_title {
      width: 100%;
      font-size: 0.34rem;
      font-weight: 400;
      color: #656565;
      padding: 0.266667rem 0;
    }

    .supply_con {
      font-size: 0.34rem;
      font-weight: 400;
      color: #656565;
      line-height: 150%;
    }
  }

  // 日期
  .date_wrap {
    width: 100%;
    display: flex;
    margin-top: 0.266667rem;
    justify-content: space-between;

    .publish_date {
      font-size: 0.34rem;
      font-weight: 400;
      color: #656565;
    }

    .end_date {
      font-size: 0.34rem;
      font-weight: 400;
      color: #656565;
    }
  }

  // 图片展示
  .pic_content {
    width: 100%;
    margin-top: 0.266667rem;

    .swiper-wrapper {
      width: 100%;

      .swiper-slide {
        width: 100%;
        height: 7.426667rem;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }

}