@media screen and (min-width: 750px) {
  html {
    font-size: 75px !important;
  }
}

@font-face { 
  font-family: SIMKAI; /*这里是说明调用来的字体名字*/ 
  src: url('../css/SIMKAI.TTF'); /*这里是字体文件路径*/ 
}

body {
  font-family: SIMKAI;
}

$htmlColor: #FFC200;

// 顶部栏
.head_wrap_top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 2.666667rem;
  background-color: $htmlColor;

  // 搜索
  .search_wrap {
    margin: 0.413333rem 0 0 10vw;
    width: 80vw;
    height: 0.733333rem;
    background: #ffffff;
    box-shadow: 0px 0px 6px 0px rgba(0, 28, 255, 0.36);
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    padding: 0 0.133333rem;
    box-sizing: border-box;
    align-items: center;

    input {
      width: 80%;
      height: 0.533333rem;
      padding: 0.133333rem 0.266667rem;
      box-sizing: border-box;
      color: #999999;
      font-size: 0.32rem;
      line-height: 0.533333rem;
      border: none;
    }

    .search_btn {
      svg {
        width: 0.4rem;
        height: 0.373333rem;
      }
    }
  }

  // 供应需求
  .need_supply_wrap {
    margin: 0.32rem 0 0 10vw;
    width: 80vw;
    height: 0.733333rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .need_supply {
      width: 42.5%;
      height: 100%;
      background: url(../images/gongxu.png) no-repeat;
      background-size: 120%;
      background-position: 50% 50%;
      border-radius: 12px;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0 0 5px rgba(4, 0, 0, 0.2);

      .supply_icon {
        width: 0.533333rem;
        height: 0.566667rem;
      }

      .need_icon {
        width: 0.4rem;
        height: 0.44rem;
      }

      .text {
        margin-left: 0.066667rem;
        font-size: 0.373333rem;
        font-weight: normal;
        color: #000000;
      }
    }
  }
}

// 商品内容
.goods_contant {
  margin-top: 2.666667rem;
  width: 100vw;
  height: calc(100vh - 4.066667rem);
  background-color: #ffffff;
  overflow-y: auto;

  .goods_ul {
    width: 100vw;
    padding: 0.266667rem 0.533333rem;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .goods_li {
      width: 4.333333rem;
      height: 3.333333rem;
      margin-bottom: 0.266667rem;

      .img_wrap {
        width: 100%;
        height: 2.4rem;
        overflow: hidden;
        border-radius: 12px;
        box-shadow: 0 0 8px rgba(4, 0, 0, 0.2);

        img {
          width: 100%;
          height: 2.4rem;
          object-fit: cover;
        }
      }

      .goods_name {
        width: 100%;
        font-size: 0.293333rem;
        font-weight: 400;
        color: #333333;
        padding: 0.133333rem 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      .date_wrap {
        width: 100%;
        display: flex;

        .date {
          font-size: 0.266667rem;
          font-weight: 400;
          color: #666666;
        }

        .cate {
          margin-left: 0.133333rem;
          width: 0.666667rem;
          border-radius: 9px;
          color: #ffffff;
          font-size: 0.213333rem;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}


// 底部固定栏
.bottom_bar_wrap {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 1.386667rem;
  box-shadow: 0 0 5px rgba(4, 0, 0, 0.2);
  background-color: #ffffff;

  .bottom_bar {
    position: relative;
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: space-around;

    .icon_item {
      height: 1.386667rem;

      a {
        height: 100%;
        display: inline-block;
        color: #999999;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        svg {
          width: 0.48rem;
          height: 0.48rem;
        }

        .icon_text {
          margin-top: 0.14rem;
          font-size: 0.373333rem;
        }

        .active_text {
          color: #F8CD43;
        }

      }
    }

    // 发布
    .fa_icon_item {
      height: 1.386667rem;

      a {
        height: 1.386667rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        // 发布
        .icon_cir_wrap {
          position: absolute;
          top: -0.333333rem;
          width: 1.066667rem;
          height: 1.066667rem;
          display: flex;
          justify-content: center;
          align-items: center;
          box-shadow: 0 0 5px rgba(4, 0, 0, 0.2);
          border-radius: 50%;
          background-color: #ffffff;

          svg {
            width: 0.933333rem;
            height: 0.933333rem;
          }

        }

        .fa_text {
          margin-top: 0.68rem;
          font-weight: normal;
          color: #333333;
          font-size: 0.373333rem;
        }
      }
    }
  }
}

// 回到顶部
.back_top {
  position: fixed;
  display: none;
  right: 0.466667rem;
  bottom: 2rem;
  z-index: 10000;
  // width: 1rem;
  // height: 1rem;
  // background-color: #ffffff;
  // box-shadow: 0 0 5px rgba(4, 0, 0, 0.2);
  // border-radius: 50%;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  -moz-user-focus: none;

  svg {
    width: 0.8rem;
    height: 0.8rem;
  }
}