@import './content.scss';
@import './tar.scss';

// 顶部栏
.head_wrap_top {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100vw;
  height: 1.666667rem;
  padding: 0 0.533333rem;
  box-sizing: border-box;
  background-color: $htmlColor;
  display: flex;
  justify-content: center;
  align-items: center;

  // 定位
  .location_wrap {

    a {
      display: flex;
      justify-content: space-between;
      
      svg {
        width: 0.5rem;
        height: 0.5rem;
      }

      .location_text {
        width: 1.2rem;
        height: 0.5rem;
        line-height: 0.5rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: #ffffff;
        font-size: 0.366667rem;
      }

      .jiantou {
        margin-right: 0.2rem;
        transform: rotate(90deg);
      }
    }
  }

  // 搜索
  .search_wrap {
    width: 65vw;
    // height: 1.033333rem;
    height: 0.833333rem;
    background: #ffffff;
    box-shadow: 0px 0px 6px 0px rgba(255, 255, 255, 0.383);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    padding: 0 0.133333rem;
    box-sizing: border-box;
    align-items: center;

    input {
      width: 80%;
      height: 0.733333rem;
      padding: 0.133333rem 0.266667rem;
      border-radius: 20px;
      box-sizing: border-box;
      color: #999999;
      font-size: 0.35rem;
      line-height: 0.533333rem;
      border: none;
    }

    .search_btn {
      height: 0.4rem;

      svg {
        width: 0.5rem;
        height: 0.5rem;
      }
    }
  }
}

// 供应需求
.need_supply_wrap {
  position: fixed;
  top: 1.666667rem;
  left: 0;
  z-index: 800;
  width: 100vw;
  height: 1.333333rem;
  padding: 0 0.533333rem;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $htmlColor;
  // border-radius: 0 0 100px 100px;

  .need_supply {
    width: 4.2rem;
    height: 0.933333rem;
    background: url(../images/gongxu.png) no-repeat;
    background-size: 120%;
    background-position: 50% 50%;
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5px rgba(4, 0, 0, 0.2);

    .supply_icon {
      width: 0.533333rem;
      height: 0.566667rem;
    }

    svg {
      width: 0.4rem;
      height: 0.4rem;
    }

    img {
      width: 0.35rem;
      height: 0.35rem;
    }

    .need_icon {
      width: 0.4rem;
      height: 0.44rem;
    }

    .text {
      margin-left: 0.066667rem;
      font-size: 0.373333rem;
      font-weight: normal;
      color: #000000;
    }
  }
}

// 商品内容
.goods_contant {
  margin-top: 1.666667rem;
  width: 100vw;
  height: calc(100vh - 3.066667rem);
  background-color: #ffffff;
  overflow-y: auto;

  .goods_wrap {
    width: 100vw;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .blank {
      width: 100vw;
      height: 1.333333rem;
    }

    .goods_ul_content {
      width: 100vw;
      padding: 0.266667rem 0.533333rem;
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      .goods_li {
        width: 4.333333rem;
        height: 6.433333rem;
        margin-bottom: 0.266667rem;

        .img_wrap {
          width: 100%;
          height: 5.4rem;
          overflow: hidden;
          border-radius: 12px;
          box-shadow: 0 0 8px rgba(4, 0, 0, 0.2);

          img {
            width: 100%;
            height: 5.4rem;
            object-fit: cover;
          }
        }

        .goods_name {
          width: 100%;
          font-size: 0.323333rem;
          font-weight: 600;
          color: #333333;
          padding: 0.133333rem 0;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          letter-spacing: 0.013333rem;
        }

        .date_wrap {
          width: 100%;
          display: flex;
          margin-top: 0.066667rem;

          .date {
            font-size: 0.286667rem;
            font-weight: 400;
            color: #666666;
          }

          .cate {
            margin-left: 0.133333rem;
            width: 0.966667rem;
            height: 0.333333rem;
            border-radius: 9px;
            color: #ffffff;
            font-size: 0.263333rem;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
  }
}

// 登录
.login_wrap {
  position: fixed;
  bottom: 1.386667rem;
  left: 0;
  width: 100vw;
  height: 1.386667rem;
  background-color: rgba(4, 0, 0, 0.7);
  z-index: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.4rem;
  box-sizing: border-box;

  .left_wrap {
    display: flex;
    justify-content: space-between;

    .svg {
      width: 0.8rem;
      height: 0.8rem;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #666666;

      svg {
        width: 0.6rem;
        height: 0.6rem;
      }
    }

    .text {
      margin-left: 0.266667rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      span {
        display: inline-block;
        color: #ffffff;
        font-size: 0.293333rem;
      }
    }
  }

  .login_inner {
    width: 2.666667rem;
    height: 0.766667rem;
    background: linear-gradient(-90deg, #ed7450, #eb554d);
    border-radius: 8px;

    a {
      display: inline-block;
      width: 100%;
      height: 100%;
      color: #ffffff;
      text-align: center;
      line-height: 0.766667rem;
      font-size: 0.333333rem;
    }
  }
}