@import './content.scss';
@import './tar.scss';

// 顶部栏
.head_wrap_top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 2.666667rem;
  background-color: $htmlColor;

  // 搜索
  .search_wrap {
    margin: 0.413333rem 0 0 10vw;
    width: 80vw;
    height: 0.733333rem;
    background: #ffffff;
    box-shadow: 0px 0px 6px 0px rgba(255, 255, 255, 0.383);
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    padding: 0 0.133333rem;
    box-sizing: border-box;
    align-items: center;

    input {
      width: 80%;
      height: 0.533333rem;
      padding: 0.133333rem 0.266667rem;
      box-sizing: border-box;
      color: #999999;
      font-size: 0.373333rem;
      line-height: 0.533333rem;
      border: none;
    }

    .search_btn {
      svg {
        width: 0.4rem;
        height: 0.373333rem;
      }
    }
  }

  // 供应需求
  .need_supply_wrap {
    margin: 0.32rem 0 0 10vw;
    width: 80vw;
    height: 0.733333rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .need_supply {
      width: 42.5%;
      height: 100%;
      background: url(../images/gongxu.png) no-repeat;
      background-size: 120%;
      background-position: 50% 50%;
      border-radius: 12px;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0 0 5px rgba(4, 0, 0, 0.2);

      .supply_icon {
        width: 0.533333rem;
        height: 0.566667rem;
      }

      .need_icon {
        width: 0.4rem;
        height: 0.44rem;
      }

      .text {
        margin-left: 0.066667rem;
        font-size: 0.373333rem;
        font-weight: normal;
        color: #000000;
      }
    }
  }
}

// 商品内容
.goods_contant {
  margin-top: 2.666667rem;
  width: 100vw;
  height: calc(100vh - 4.066667rem);
  background-color: #ffffff;
  overflow-y: auto;

  .goods_ul {
    width: 100vw;
    padding: 0.266667rem 0.533333rem;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .goods_li {
      width: 4.333333rem;
      height: 5.333333rem;
      margin-bottom: 0.266667rem;

      .img_wrap {
        width: 100%;
        height: 4.4rem;
        overflow: hidden;
        border-radius: 12px;
        box-shadow: 0 0 8px rgba(4, 0, 0, 0.2);

        img {
          width: 100%;
          height: 4.4rem;
          object-fit: cover;
        }
      }

      .goods_name {
        width: 100%;
        font-size: 0.323333rem;
        font-weight: 400;
        color: #333333;
        padding: 0.133333rem 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      .date_wrap {
        width: 100%;
        display: flex;

        .date {
          font-size: 0.286667rem;
          font-weight: 400;
          color: #666666;
        }

        .cate {
          margin-left: 0.133333rem;
          width: 0.966667rem;
          border-radius: 9px;
          color: #ffffff;
          font-size: 0.263333rem;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}

