@import './content.scss';


.head_wrap {
  width: 100vw;
  height: 1.733333rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Adobe Heiti Std;
  font-weight: normal;
  color: #000000;
  font-size: 0.4rem;
  background-color: $htmlColor;
}

.login_wrap {
  width: 100vw;

  .log_wrap {
    margin: 1.066667rem 0 0.266667rem 0;
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;

    .log {
      width: 2rem;
      height: 2rem;
      background: $htmlColor;
      border-radius: 50%;
    }
  }
}


.code_login_wrap {
  width: 100vw;
  display: flex;
  justify-content: center;

  .code_login {
    width: 100vw;

    .login_item_wrap {
      position: relative;
      width: 72vw;
      margin-left: 14vw;
      display: flex;
      justify-content: center;

      @mixin item {
        width: 50%;
        height: 1.133333rem;
        font-size: 0.36rem;
        font-weight: 400;
        color: #333333;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .login_item {
        @include item;
      }

      .sub_line {
        position: absolute;
        bottom: 0;
        width: 50%;
        height: 0.053333rem;
        background-color: $htmlColor;
        transition: 0.3s;
      }

      .left {
        left: 0;
      }

      .right {
        right: 0;
      }
    }

    // 内容
    .login_container {
      // margin-top: 0.466667rem;
      width: 100%;

      .login_wrapper {
        .swiper-slide {
          width: 100vw;

          // 验证码登录
          .vercode_login {
            width: 72vw;
            margin-left: 14vw;

            .slide_li {
              width: 100%;
              height: 0.8rem;
              margin-bottom: 0.266667rem;
              display: flex;
              justify-content: space-between;
              align-items: center;

              svg {
                margin-top: 0.266667rem;
                width: 0.533333rem;
                height: 0.533333rem;
              }

              .input_wrap {
                width: 6.4rem;
                height: 100%;
                display: flex;
                // align-items: center;
                justify-content: space-between;
                border-bottom: 1px solid #666666;

                input {
                  margin-top: 0.186667rem;
                  width: 60%;
                  height: 0.6rem;
                  padding: 0.066667rem;
                  box-sizing: border-box;
                  outline: none;
                  border: none;
                  line-height: 0.6rem;
                  font-size: 0.293333rem;
                }

                .send_sms {
                  margin-top: 0.20rem;
                  width: 1.9rem;
                  height: 0.5rem;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  font-size: 0.266667rem;
                  
                  font-weight: normal;
                  color: #666666;
                  border: 1px solid #666666;
                  border-radius: 5px;
                }
              }
            }

            .bottom_title_li {
              width: 100%;
              display: flex;
              justify-content: space-between;
              flex-direction: row-reverse;

              .login_in {
                font-size: 0.303333rem;
                font-weight: normal;
                color: #333333;
              }

              .fwpd {
                font-size: 0.303333rem;
                font-weight: normal;
                color: #333333;
              }
            }

            // 登录
            .login_btn {
              margin-top: 0.533333rem;
              width: 72vw;
              height: 1.146667rem;
              background: $htmlColor;
              border-radius: 42px;
              font-weight: normal;
              color: #000000;
              font-size: 0.48rem;
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }
        }
      }
    }

    // 游客登录
    .tourist_login {
      margin-top: 0.533333rem;
      width: 72vw;
      margin-left: 14vw;
      height: 1.146667rem;
      background: #FFFFFF;
      border-radius: 42px;
      font-size: 0.48rem;
      font-weight: normal;
      color: #000000;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0 0 8px rgba(4, 0, 0, 0.2);
    }

    // 同意规则
    .agree_rule {
      width: 100vw;
      margin-top: 0.52rem;
      display: flex;
      justify-content: center;

      .rule {
        width: 4.666667rem;

        input {
          width: 0.266667rem;
          height: 0.266667rem;
          background: #FFFFFF;
          border: 1px solid #535353;
          border-radius: 2px;
        }

        a {
          font-size: 0.266667rem;
          font-weight: normal;
          color: #333333;
        }
      }
    }
  }
}