@import './content.scss';

.header_wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 1.333333rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  z-index: 1000;
  box-shadow: 0 0 5px rgba(4, 0, 0, 0.1);

  .left_arrow {
    position: absolute;
    left: 0.4rem;
    width: 0.866667rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(-90deg);

    svg {
      width: 0.866667rem;
      height: 0.6rem;
    }
  }

  .head_text {
    font-size: 0.426667rem;
    color: #333333;
  }

  .publish_btn {
    position: absolute;
    right: 0.4rem;
    width: 1.2rem;
    height: 0.56667rem;
    background: #319595;
    border-radius: 10px;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 0.32rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.publish_wrap {
  margin-top: 1.33333rem;
  width: 100vw;
  height: calc(100vh - 1.333333rem);
  overflow-y: auto;

  .publish_ul {
    width: 100%;
    padding: 0.4rem 0.533333rem;
    box-sizing: border-box;

    .publish_li {
      width: 100%;
      height: 2.946667rem;
      box-shadow: 0 0 5px rgba(4, 0, 0, 0.1);
      padding: 0.413333rem;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      margin-bottom: 0.4rem;

      .left_wrap {
        position: relative;
        width: 2.08rem;
        height: 2.08rem;
        box-shadow: 0 0 5px rgba(4, 0, 0, 0.1);
        border-radius: 12px;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;

        }

        .dot {
          display: inline-block;
          position: absolute;
          left: 0;
          top: 0;
          font-size: 0.186667rem;
          font-weight: 400;
          color: #FFFFFF;
          width: 0.853333rem;
          height: 0.32rem;
          text-align: center;
          line-height: 0.32rem;
          background: #1a8eff;
          border-radius: 10px 0px 10px 0px;

        }
      }

      .right_wrap {
        width: 5.333333rem;
        height: 2.08rem;
        margin-left: 0.4rem;
        padding: 0.2rem 0;
        box-sizing: border-box;

        .title {
          width: 100%;
          font-size: 0.4rem;
          font-weight: 400;
          color: #333333;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }

        .date {
          margin-top: 0.133333rem;
          font-size: 0.293333rem;
          font-weight: 400;
          color: #999999;
        }

        .func_wrap {
          width: 2.933333rem;
          height: 0.426667rem;
          margin-top: 0.453333rem;
          display: flex;
          justify-content: space-between;
          align-items: center;

          a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 1.333333rem;
            height: 100%;
            background: #FFFFFF;
            border: 1px solid #E5E5E5;
            border-radius: 16px;
            font-size: 0.293333rem;
            font-weight: 400;
            color: #666666;

          }
        }
      }
    }
  }
}

// 暂无消息
.no_notice {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 4.773333rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    width: 4.066667rem;
    height: 4.72rem;
    margin-left: 0.266667rem;
  }

  .no_text {
    display: block;
    margin-top: 0.266667rem;
    font-size: 0.453333rem;
    font-weight: 400;
    color: #666666;
  }
}


// 回到顶部
.back_top {
  position: fixed;
  display: none;
  right: 0.466667rem;
  bottom: 3rem;
  z-index: 10000;
  // width: 1rem;
  // height: 1rem;
  // background-color: #ffffff;
  // box-shadow: 0 0 5px rgba(4, 0, 0, 0.2);
  // border-radius: 50%;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  -moz-user-focus: none;

  svg {
    width: 0.8rem;
    height: 0.8rem;
  }
}