@import './content.scss';

body {
  background-color: #ECECEC;
}

.header_wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 1.333333rem;
  display: flex;
  z-index: 1000;
  justify-content: center;
  align-items: center;
  background-color: $htmlColor;
  box-shadow: 0 0 5px rgba(4, 0, 0, 0.1);

  .left_arrow {
    position: absolute;
    left: 0.4rem;
    width: 0.866667rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    // transform: rotate(-90deg);

    svg {
      width: 0.866667rem;
      height: 0.6rem;
    }
  }

  .head_text {
    font-size: 0.466667rem;
    color: #ffffff;
  }

  .more_wrap {
    position: absolute;
    right: 0.4rem;

    .svg_wrap {
      position: relative;

      a {
        position: relative;
        color: #666666;
        display: flex;
        height: 0.666667rem;
        justify-content: center;
        align-items: center;

        svg {
          width: 0.386667rem;
          height: 0.386667rem;
        }

        .te_t {
          margin-left: 0.206667rem;
          font-size: 0.303333rem;
          font-weight: 400;
          color: #ffffff;
        }
      }
    }
  }

  .list_wrap {
    display: none;
    position: absolute;
    width: 1.906667rem;
    right: 0.266667rem;
    top: 1.166667rem;
    z-index: 1000;
    background-color: #ffffff;
    box-shadow: 0 0 5px rgba(4, 0, 0, 0.1);
    // border-radius: 10px;
    padding: 0.133333rem 0;

    .list_ul {
      width: 100%;
      position: relative;
      background-color: #ffffff;

      .list_li {
        width: 100%;
        height: 0.666667rem;
        padding: 0 0.266667rem;
        box-sizing: border-box;
        border-bottom: 1px solid #EEEEEE;

        a {
          position: relative;
          color: #666666;
          display: flex;
          height: 0.666667rem;
          justify-content: center;
          align-items: center;

          .dot {
            position: absolute;
            top: 0;
            left: 0.30rem;
            z-index: 100;
            display: inline-block;
            width: 0.306667rem;
            height: 0.306667rem;
            border-radius: 50%;
            background-color: #dc3173;
            color: #ffffff;
            text-align: center;
            line-height: 0.306667rem;
            font-size: 0.32rem;
          }

          svg {
            width: 0.386667rem;
            height: 0.386667rem;
          }

          .te_t {
            margin-left: 0.206667rem;
            font-size: 0.303333rem;
            font-weight: 400;
            color: #666666;
          }
        }
      }
    }

    .list_ul::before {
      position: absolute;
      top: -0.546667rem;
      right: 0.166667rem;
      content: "";
      width: 0;
      height: 0;
      border: 0.266667rem solid;
      border-color: transparent transparent #ffffff transparent;
    }
  }
}

// 聊天内容
.chat_content_wrap {
  margin-top: 1.333333rem;
  width: 100vw;
  height: calc(100vh - 2.72rem);
  padding-top: 0.266667rem;
  box-sizing: border-box;
  overflow-y: auto;

  .chat_ul {
    width: 100%;
    padding: 0.266667rem 0.4rem;
    box-sizing: border-box;

    @mixin triangle {
      position: absolute;
      top: 0;
      width: 0;
      height: 0;
      border: 0.266667rem solid;
      border-color: #ffffff transparent transparent transparent;
    }

    .chat_li {
      display: flex;

      .avatar_wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 1.266667rem;
        height: 1.266667rem;

        .ava_img {
          width: 1.266667rem;
          height: 1.266667rem;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 50%;
          }
        }

      }

      .chat_content {
        // position: absolute;
        left: 1.733333rem;
        padding-right: 1.266667rem;

        .chat_inner_content:before {
          content: "";
          left: -0.133333rem;
          @include triangle;
        }

        .chat_inner_content {
          position: relative;
          margin: 0.633333rem 0 0 0.2rem;
          font-size: 0.493333rem;
          font-weight: 400;
          color: #333333;
          background-color: #ffffff;
          padding: 0.266667rem 0.4rem;
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          border-radius: 10px;
        }
      }

    }

    .chat_li_mine {
      display: flex;
      flex-direction: row-reverse;
      margin: 0.276667rem 0;

      .avatar_wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 1.266667rem;
        height: 1.266667rem;

        .ava_img {
          // position: relative;
          width: 1.266667rem;
          height: 1.266667rem;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 50%;
          }
        }

      }

      .chat_content {
        right: 1.733333rem;
        padding-left: 1.366667rem;

        .chat_inner_content:before {
          content: "";
          right: -0.133333rem;
          @include triangle;
          border-color: #95ec69 transparent transparent transparent;
        }

        .chat_inner_content {
          position: relative;
          margin: 0.63333rem 0.2rem 0 0;
          font-size: 0.493333rem;
          font-weight: 400;
          color: #333333;
          background-color: #95ec69;
          padding: 0.266667rem 0.4rem;
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          border-radius: 10px;


          a {
            display: block;
            width: 100%;
            background-color: #ffffff;

            .img_wrap {
              width: 100%;
              height: 5.4rem;
              overflow: hidden;
              border-radius: 12px;
              box-shadow: 0 0 8px rgba(4, 0, 0, 0.2);

              img {
                width: 100%;
                height: 5.4rem;
                object-fit: cover;
              }
            }

            .goods_name {
              width: 100%;
              font-size: 0.323333rem;
              font-weight: 600;
              color: #333333;
              padding: 0.133333rem 0;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              letter-spacing: 0.013333rem;
            }

            .date_wrap {
              width: 100%;
              display: flex;
              margin-top: 0.066667rem;

              .date {
                font-size: 0.286667rem;
                font-weight: 400;
                color: #666666;
              }

              .cate {
                margin-left: 0.133333rem;
                width: 0.966667rem;
                height: 0.333333rem;
                border-radius: 9px;
                color: #ffffff;
                font-size: 0.263333rem;
                display: flex;
                justify-content: center;
                align-items: center;
              }
            }
          }
        }
      }

    }

    .chat_li_mine_img {
      display: flex;
      flex-direction: row-reverse;
      margin: 0.276667rem 0;

      .avatar_wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 1.266667rem;
        height: 1.266667rem;

        .ava_img {
          // position: relative;
          width: 1.266667rem;
          height: 1.266667rem;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 50%;
          }
        }

      }

      .chat_content {
        right: 1.733333rem;
        padding-left: 1.366667rem;

        .chat_inner_content:before {
          content: "";
          right: -0.133333rem;
          @include triangle;
          border-color: #ffffff transparent transparent transparent;
        }

        .chat_inner_content {
          position: relative;
          margin: 0.63333rem 0.2rem 0 0;
          font-size: 0.493333rem;
          font-weight: 400;
          color: #333333;
          background-color: #ffffff;
          padding: 0.266667rem 0.4rem;
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          border-radius: 10px;


          a {
            display: block;
            width: 6rem;
            background-color: #ffffff;

            .img_wrap {
              width: 100%;
              height: 5.4rem;
              overflow: hidden;
              border-radius: 12px;
              box-shadow: 0 0 8px rgba(4, 0, 0, 0.2);

              img {
                width: 100%;
                height: 5.4rem;
                object-fit: cover;
              }
            }

            .title_wrap {
              display: flex;
              align-items: center;

              .goods_name {
                width: 80%;
                font-size: 0.363333rem;
                font-weight: 600;
                box-sizing: border-box;
                color: #333333;
                padding: 0.133333rem 0;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                letter-spacing: 0.013333rem;
              }

              .cate {
                margin-left: 0.133333rem;
                width: 0.966667rem;
                height: 0.333333rem;
                border-radius: 9px;
                color: #ffffff;
                font-size: 0.263333rem;
                display: flex;
                justify-content: center;
                align-items: center;
              }
            }

            .date_wrap {
              width: 100%;
              margin-top: 0.066667rem;
              font-size: 0.326667rem;
              font-weight: 400;
              color: #666666;
              display: -webkit-box;
              line-height: 140%;
              -webkit-line-clamp: 3;
              overflow: hidden;
            }
          }
        }
      }

    }
  }
}


// 底部
.send_tab {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 1.386667rem;
  box-shadow: 0 0 5px rgba(4, 0, 0, 0.2);
  background-color: #ffffff;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.506667rem;
  box-sizing: border-box;

  .input_wrap {
    width: 80%;
    height: 0.906667rem;
    background: #ECECEC;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    input {
      width: 90%;
      // height: 0.6rem;
      font-size: 0.4rem;
      font-weight: 400;
      color: #000000;
      border: none;
      border-radius: 10px;
      background-color: #ECECEC;
    }

    input::-webkit-input-placeholder {
      color: #000000;
    }

    input::-moz-placeholder {
      color: #000000;
    }

    input::-ms-input-placeholder {
      color: #000000;
    }
  }

  .uppic {
    width: 1.6rem;
    height: 0.88rem;
    background-color: #ECECEC;
    border-radius: 10px;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      width: 0.373333rem;
      height: 0.373333rem;
      font-weight: 600;
    }
  }

  .submit_btn {
    display: none;
    width: 1.6rem;
    height: 0.88rem;
    background-color: $htmlColor;
    color: #ffffff;
    border-radius: 10px;
    text-align: center;
    line-height: 0.88rem;
    font-size: 0.333333rem;
  }
}