@import './content.scss';

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 1.333333rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.453333rem;
  font-weight: normal;
  color: #000000;
  background-color: $htmlColor;
}


.content_wrap {
  position: absolute;
  top: 1.6rem;

  // 供应需求
  .need_supply_wrap {
    width: 100vw;
    margin-top: 2.33333rem;
    padding: 0 1.506667rem;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .need_supply {
      width: 2.4rem;
      height: 2.4rem;
      background: url(../images/fabu.png) no-repeat;
      background-size: 120%;
      background-position: 50% 50%;
      border-radius: 50%;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      box-shadow: 0 0 5px rgba(4, 0, 0, 0.2);

      .supply_icon {
        width: 0.7rem;
        height: 0.7rem;
      }

      .need_icon {
        width: 0.5rem;
        height: 0.54rem;
      }

      img {
        width: 0.45rem;
        height: 0.40rem;
        margin-bottom: 0.05rem;
      }

      .text {
        // margin-left: 0.05667rem;
        font-size: 0.4rem;
        font-weight: normal;
        color: #000000;

      }
    }
  }

  // 广告位
  .advertisement {
    margin-top: 0.333333rem;
    width: 100vw;

    .advertisement_ul {
      width: 8.933333rem;
      margin-left: 0.533333rem;

      li {
        width: 100%;
        height: 1.7rem;
        margin-bottom: 0.266667rem;
        overflow: hidden;
        display: flex;
        justify-content: space-between;

        a {
          display: inline-block;
          width: 100%;
          height: 100%;
          border-radius: 10px;
          background-color: #4fb6f1;

          img {
            width: 100%;
            height: 100%;
            border-radius: 10px;
            object-fit: cover;
          }
        }
      }
    }
  }
}

// 关闭按钮
.close {
  position: fixed;
  width: 0.8rem;
  height: 0.8rem;
  left: 50%;
  z-index: 1000;
  bottom: 0.666667rem;
  transform: translateX(-50%) rotate(45deg);

  .close_inner {
    width: 100%;
    height: 100%;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      width: 0.6rem;
      height: 0.6rem;

    }
  }
}